*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    margin: 15%;
    padding: 1rem 2rem;
    width: 70%;
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

ul{
    display: flex;
    width: 100%;
    gap: 5rem;
    justify-content: center;
    list-style:none;
    padding: 1rem 2rem;
}

ul li{
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: rgb(4, 4, 247);
    font-size: 1.5rem;
    box-shadow: 0 1px 6px 0 rgba(238, 239, 241, 0.28);
    }

label{
    margin-top: 20px;
}

form{
    display: flex;
    justify-content:center ;
    background-color: #fff;
    display: flex;
}